*{
    margin: auto;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    font-family: 'Radio Canada', sans-serif;
}

.site-wrapper {
    max-width: 1200px;
    padding: 1rem;
    /* margin: auto; */
}

/* Navigation Bar Settings */

nav{
    background-color: #26232B;
}

.navpages{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navpages li{
    padding: 1rem;
    list-style-type: none;
    text-align: center;
}

.navpages a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.navpages img{
    height: 100px;
    width: auto;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 50vh;
}

.overlay h1{
    text-align: center;
    margin-top: auto;
    color: #fff;
}

/* Navigation Bar Animation */

/* Navigation Bar Animation End */

nav a:hover{
    text-decoration: underline;
}

/* Navigation Bar Settings End */

/* Navigation Bar Overlay */

.nav-overlay{
    color:#fff;
}

/* Do Navigation Bar Overlay Tommorow and the rest is easy */

/* Navigation Bar Overlay End */

/* Banner Settings */

/* Home Banner */

.banner{
    max-width: 100%;
    height: 50vh;
    background-image: url("../images/home-banner.jpg");
    position: relative;
    background-size: cover;
}

/* Meet the Team Page Banner */

.about-banner{
    max-width: 100%;
    height: 50vh;
    background-image: url("../images/team-banner.jpg");
    position: relative;
    background-size: cover;
}

/* Contact Page Banner */

.contact-banner{
    max-width: 100%;
    height: 50vh;
    background-image: url("../images/contact-banner.jpg");
    position: relative;
    background-size: cover;
}

.banner img{
    position: absolute;
    width: 100%;
    height: 50vh;
}

.overlay{
    background: rgba(0, 0, 0, 0.2);
}

.overlay h1{
    margin: auto;
}

/* Banner Settings End */



/* Home Site Content Style */

.home-site{
    text-align: center;
    padding: 1rem;

}

.home-site h1{
    color: #D2303B;
}

/* Card Content */

.home-site img{
    height:350px;
    width: 450px;
    object-fit: cover;
    /* Drop shadow behind image */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.card{
    width: 450px;
    margin: auto;
}

.card h1{
    padding: 1rem;
}

.card a{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card p{
    padding: 1rem;
}

/* Primary Button Settings */

.primary-button{
    padding: 1rem;
    margin-top: 8px;
}

.card a{
    text-decoration: none;
    border: solid 1px black;
    color: black;
    border-radius: 5px;
    transition: .3s;
}

.card a:hover{
    background-color: #D2303B;
    color: #fff;
}

/* Home Site Content Style End */


/* ABOUT STYLE */

/* About contents */

.about-content img{
    height:350px;
    width: 450px;
    object-fit: cover;
    /* Drop shadow behind image */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.about-content h2{
    color: #D2303B;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
}

.about-content p{
    text-align: center;
}

.about-content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* ABOUT STYLE END */


/* CONTACT STYLE */

/* CONTACT CONTENTS */

.contact-content h2{
    color: #D2303B;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contact-content p{
    padding-bottom: 1rem;
}
/* iframe google maps */

iframe{
    width: 100%;
}

/* Contact Section Table Settings */

/* Added a table instead to make it look nice rather than using 4 <br> on a <p> tag */

table{
    width: 100%;
    border-collapse: collapse;
}

table th{
    border: 1px solid #26232B;
    padding: 1rem;
    background-color: #26232B;
    color: #fff;
}

table td{
    border: 1px solid;
    padding: 1rem;
}

.contact-section{
    display: none;
}

/* SERVICES STYLE END */



/* Footer Settings */

footer a{
    text-decoration: none;
    text-align: center;
    padding: 0;
    color: #D2303B;
}

footer a:hover{
    text-decoration: underline;
}

footer{
    background-color: #26232B;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.top{
    color:#D2303B;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

footer img{
    height: 100px;
    width: auto;
    margin-bottom: 3rem;
}

/* Footer Settings End */

/* Desktop Version */

@media screen and (min-width: 760px){

    /* Navigation Settings */

    .navpages{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .navpages ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }

    .navpages img{
        height: 100px;
        width: auto;
    }

    /* Navigation Settings End */

    /* Home Page Desktop Settings */

    .home-site{
        display: flex;
    }

    .home-site:nth-child(2){
        flex-direction: row-reverse;
    }

    /* Home Page Desktop Settings End */

    /* About Desktop Settings */

    .about-content{
        display: flex;
        flex-direction: row;
    }

    /* About Desktop Settings End */

    /* Contact Desktop Settings */

    .contact-section{
        display: contents;
    }

    .contact-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }

    .contact-container{
        width: 100%;
        height: 100%;
        margin: auto;
    }

    /* section line inbetween contact info and forms */
    .divider{
        border-bottom: #26232B 1px solid;
    }

    .contact-section textarea{
        width: 100%;
        padding: 8px;
        margin-top: 6px;
    }

    .contact-section input{
        width: 100%;
        padding: 8px;
        margin-top: 6px;
    }

    .send{
        margin-top: 1rem;
        text-align: end;
    }

    .send a{
        color: #fff;
        text-decoration: none;
        background-color: #D2303B;
        border-radius: 3px;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 8px;
        padding-bottom: 8px;  
        transition:  .3s;      
    }

    .send a:hover{
       background-color: #26232B;
    }

    /* Contact Desktop Settings End */

    /* Footer Desktop Settings */

    /* Footer dissapears when desktop mode */

    .top{
        display: none;
    }

    footer img{
        display: none;
    }

    /* Footer Desktop Settings End */

}

/* This Media Screen smoothes the back to top motion of the skip link */

/* Smooth scrolling from CSS-Tricks article */

@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}