*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    /* background-color: black; */
    font-family: 'Open Sans', sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    font-family: 'Radio Canada', sans-serif;
}

.site-wrapper {
    max-width: 1200px;
}

/* Navigation Bar Settings */

nav{
    background-color: #26232B;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navpages{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navpages li{
    padding: 1rem;
    list-style-type: none;
    text-align: center;
}

.navpages a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.navpages img{
    height: 100px;
    width: auto;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 50vh;
}

.overlay h1{
    text-align: center;
    margin-top: auto;
    color: #fff;
}

/* Navigation Bar Animation */

/* Navigation Bar Animation End */

nav a:hover{
    text-decoration: underline;
}

/* Navigation Bar Settings End */

/* Navigation Bar Overlay */

.nav-overlay{
    color:#fff;
}

/* Do Navigation Bar Overlay Tommorow and the rest is easy */

/* Navigation Bar Overlay End */

/* Banner Settings */

.banner{
    max-width: 100%;
    height: 50vh;
    background-image: url("../images/home-banner.jpg");
    position: relative;
    background-size: cover;
}

.banner img{
    position: absolute;
    width: 100%;
    height: 50vh;
}

.overlay{
    background: rgba(0, 0, 0, 0.2);
    height: 50vh;
}

/* Banner Settings End */



/* Home Site Content Style */

.home-site{
    text-align: center;
    padding: 1rem;
}

.home-site h1{
    color: #D2303B;
}

/* Card Content */

.home-site img{
    height:350px;
    width: 450px;
    object-fit: cover;
}

.card{
    width: 100%;
}

/* Primary Button Settings */

.primary-button{
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 100%;
}

.primary-button a{
    text-decoration: none;
    color: black;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    /* width: 100%; */
    padding-bottom: 1rem;
    border: solid 1px black;
    border-radius: 5px;
    transition: .3s;
}

.primary-button a:hover{
    background-color: #D2303B;
    color: #fff;
}

/* Home Site Content Style End */



/* SERVICES STYLE */

/* SERVICE CONTENTS */

.services-content h2{
    color: #D2303B;
    padding-bottom: 1rem;  
}

.services-content{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.services-content p{
    padding-bottom: 1rem;
}

.services-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* iframe google maps */

iframe{
    /* width: 100%; */
    padding-left: 1rem;
    padding-right: 1rem;
    /* height: auto; */
}

/* Contact Section Table Settings */

/* Added a table instead to make it look nice rather than using 4 <br> on a <p> tag */

table{
    width: 90%;
    border-collapse: collapse;
}

table th{
    border: 1px solid #26232B;
    padding: 1rem;
    background-color: #26232B;
    color: #fff;
}

table td{
    border: 1px solid;
    padding: 1rem;
}

/* SERVICES STYLE END */



/* Footer Settings */

footer a{
    text-decoration: none;
    color: #D2303B;
}

footer{
    background-color: #26232B;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.top{
    color:#D2303B;
    text-align: center;
    margin-bottom: 3rem;
}

footer img{
    height: 100px;
    width: auto;
    margin-bottom: 3rem;
}

/* Footer Settings End */

/* Desktop Version */

@media screen and (min-width: 760px){

    /* Navigation Settings */

    .navpages{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .navpages ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }

    .navpages img{
        height: 100px;
        width: auto;
        margin-right: 2rem;
    }

    /* Navigation Settings End */

    /* Footer Desktop Settings */

    /* Footer dissapears when desktop mode */

    .top{
        display: none;
    }

    footer img{
        display: none;
    }

    /* Footer Desktop Settings End */

}